In [8]:
library(tidyverse)

package 'lubridate' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'lubridate'"

The downloaded binary packages are in
	C:\Users\griff\AppData\Local\Temp\Rtmpoz9FiN\downloaded_packages

In [3]:
tibble(
x = 1:5,
y = 1,
z = x^2 + y)

  x y z
1 1 1  2
2 2 1  5
3 3 1 10
4 4 1 17
5 5 1 26

In [5]:
tb = tibble(
":)" = "스마일",
" " = "스페이스",
'2000' = "숫자")
tb

  :)              2000
1 스마일 스페이스 숫자

In [6]:
tribble(
~x,~y,~z,
# --|--|====
"a", 2, 3.6,
"b", 1, 8.5)

  x y z
1 a 2 3.6
2 b 1 8.5

In [10]:
tibble(
a = lubridate::now() + runif(1e3)*86400,
b = lubridate::today() + runif(1e3)*30,
c = 1:1e3,
d = runif(1e3),
e = sample(letters, 1e3, replace = T))  %>% head()

  a                   b          c d         e
1 2019-10-12 15:13:31 2019-10-28 1 0.1211054 o
2 2019-10-12 17:49:16 2019-10-31 2 0.6215944 o
3 2019-10-12 00:21:10 2019-10-20 3 0.9511675 u
4 2019-10-12 00:39:23 2019-10-29 4 0.6233121 d
5 2019-10-12 15:40:04 2019-10-19 5 0.5677481 h
6 2019-10-12 08:00:27 2019-10-30 6 0.4568843 b

In [12]:
as_tibble(iris)  %>% head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [15]:
nycflights13::flights %>% print(n = 10, width = 10)

# A
#   tibble:
#   336,776
#   x 19
    year
   <int>
 1  2013
 2  2013
 3  2013
 4  2013
 5  2013
 6  2013
 7  2013
 8  2013
 9  2013
10  2013
# ...
#   with
#   3.368e+05
#   more
#   rows,
#   and
#   18
#   more
#   variables:
#   month <int>,
#   day <int>,
#   dep_time <int>,
#   sched_dep_time <int>,
#   dep_delay <dbl>,
#   arr_time <int>,
#   sched_arr_time <int>,
#   arr_delay <dbl>,
#   carrier <chr>,
#   flight <int>,
#   tailnum <chr>,
#   origin <chr>,
#   dest <chr>,
#   air_time <dbl>,
#   distance <dbl>,
#   hour <dbl>,
#   minute <dbl>,
#   time_hour <dttm>

In [17]:
df = tibble(
x = runif(5),
y = rnorm(5))
df$x

[1] 0.2873696301 0.8278811851 0.0007303895 0.5576386901 0.9693285534

In [18]:
df[["x"]]

[1] 0.2873696301 0.8278811851 0.0007303895 0.5576386901 0.9693285534

In [19]:
df %>% .$x

[1] 0.2873696301 0.8278811851 0.0007303895 0.5576386901 0.9693285534

In [21]:
df  %>% .[["x"]]

[1] 0.2873696301 0.8278811851 0.0007303895 0.5576386901 0.9693285534